@page
@{
    ViewData["Title"] = "-Core.js namespace update";
}

<h1>@ViewData["Title"]</h1>

@section Scripts {
    <script>
        // Testing that existing namespaces are preserved by -core.js
        //
        // This is stripped down MeadCoScriptXJS - creates window.MeadCo.ScriptX
        //

        // MeadCo.ScriptX - singleton
        //
        (function (topLevelNs) {
            "use strict";

            if (typeof topLevelNs["ScriptX"] === "undefined") {
                console.log("Mock MeadCoScriptXJS intialising new ScriptX package");
                topLevelNs.ScriptX = {};
            }

            var scriptx = topLevelNs.ScriptX;

            scriptx.Connection = {
                NONE: 0,
                ADDON: 1,
                SERVICE: 2
            }

            scriptx.LibVersion = "1.9.0";
            scriptx.Connector = scriptx.Connection.NONE;
        }(window.MeadCo = window.MeadCo || {}));
    </script>

    <environment include="Development">
        <script asp-append-version="true" src="/scripts/src/meadco-core.js"></script>
        <script asp-append-version="true" src="/scripts/src/meadco-scriptxprint.js"></script>
    </environment>
    <environment exclude="Development">
        <script asp-append-version="true" src="/scripts/dist/meadco-scriptxservicesprint.min.js"></script>
    </environment>

}

@section TestScripts {
    <script asp-append-version="true" src="~/js/UnitTests/CoreNamespaces.js"></script>
}
