@page
@{
    ViewData["Title"] = "-Core.js";
}

<h1>@ViewData["Title"]</h1>

@section Scripts {
    <script src="/scripts?name=src/meadco-core.js"></script>
}

@section TestScripts {
    <script src="~/js/UnitTests/Core.js"></script>
}
