@page
@{
    ViewData["Title"] = "Testing tests";
}

<h1>@ViewData["Title"]</h1>

@section Scripts {
    <script src="/scripts/src/meadco-core.js" asp-append-version="true"></script>
    <script src="/scripts/src/meadco-scriptxprint.js" asp-append-version="true"></script>
    <script src="/scripts/src/meadco-scriptxprinthtml.js" asp-append-version="true"></script>
    <script src="/scripts/src/meadco-scriptxprintpdf.js" asp-append-version="true"></script>
    <script src="/scripts/src/meadco-scriptxfactory.js" asp-append-version="true"></script>
    <script src="/scripts/src/meadco-scriptxprintlicensing.js"></script>
}

@section TestScripts {
    <script src="~/js/UnitTests/serverinfo.js" asp-append-version="true"></script>
    <script src="~/js/UnitTests/DevTest.js" asp-append-version="true"></script>
}

<iframe style="visibility: hidden; display: none" id="testFrame" src="@Url.Page("/Tests/Frame")"></iframe>
