@page
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Frame</title>
</head>
<body>
    <p>A massively simple frame with a form.</p>
    <form>
        <input type="text" name="person" />
        <input type="checkbox" name="check1" /> Check1
        <input type="radio" name="check2" value="r1" /> r1 <input type="radio" name="check2" value="r2" /> r2

        <textarea name="blah"></textarea>

    </form>
</body>
</html>
