@page
@{
    ViewData["Title"] = "-Licensing.js";
}

<h1>@ViewData["Title"]</h1>

@section Scripts {
    <environment include="Development">
        <script src="/scripts?name=src/meadco-core.js"></script>
        <script src="/scripts?name=src/meadco-scriptxprintlicensing.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="/scripts?name=dist/meadco-scriptxserviceslicensing.min.js"></script>
    </environment>
}

@section TestScripts {
    <script src="~/js/UnitTests/serverinfo.js" asp-append-version="true"></script>
    <script src="~/js/UnitTests/licensing.js"></script>
}
