@page
@{
    ViewData["Title"] = "-Print.js";
}

<h1>@ViewData["Title"]</h1>

@section Scripts {
    <environment include="Development">
        <script asp-append-version="true" src="/scripts/src/meadco-core.js"></script>
        <script asp-append-version="true" src="/scripts/src/meadco-scriptxprint.js"></script>
    </environment>
    <environment exclude="Development">
        <script asp-append-version="true" src="/scripts/dist/meadco-scriptxservicesprint.min.js"></script>
    </environment>
}

@section TestScripts {
    <script src="~/js/UnitTests/serverinfo.js" asp-append-version="true"></script>
    <script asp-append-version="true" src="~/js/UnitTests/Print.js"></script>
}
