@page
@{
    Layout = null;
    ViewData["Title"] = "UI Library - Bootstrap 5.0.2";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>@ViewData["Title"] - ScriptX.Services.Client Test</title>

    <!-- Latest compiled and minified CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <link rel="stylesheet" href="~/vendor/css/qunit.css" />
    <link rel="stylesheet" href="~/css/site.css" />

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">ScriptX.Services.Client</a>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">

            <div class="button-bar">
                <button id="btn-print" class="btn btn-dark">Page Setup</button>&nbsp;<button class="btn btn-dark" id="btn-setup">Printer settings</button>
            </div>

            <br />

            <div id="qunit"></div>
            <div id="qunit-fixture"></div>

        </main>
    </div>

    <environment include="Development">
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    </environment>
    <environment exclude="Development">
         <!-- Latest compiled and minified JavaScript -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    </environment>


    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/vendor/js/qunit.js"></script>

    <environment include="Development">
        <script src="/scripts/src/meadco-core.js" asp-append-version="true"></script>
        <script src="/scripts/src/meadco-scriptxprint.js" asp-append-version="true"></script>
        <script src="/scripts/src/meadco-scriptxprinthtml.js" asp-append-version="true"></script>
        <script src="/scripts/src/meadco-scriptxfactory.js" asp-append-version="true"></script>
        <script src="/scripts/src/Bootstrap5-MeadCo.ScriptX.Print.UI.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script asp-append-version="true" src="/scripts/dist/meadco-scriptxservicesprintUI-2.min.js"></script>
    </environment>

    <script src="~/js/UnitTests/serverinfo.js" asp-append-version="true"></script>
    <script src="~/js/UnitTests/UILibrary.js" asp-append-version="true"></script>
    <script type="text/javascript">

        window.addEventListener("load", (e) => {
            console.log("Start view");

            var url = serverUrl;
            MeadCo.ScriptX.Print.HTML.connectAsync(url, licenseGuid, function (data) {
                factory.printing.header = "Test";

                document.getElementById("btn-print").addEventListener("click", (e) => { 
                    MeadCo.ScriptX.Print.UI.PageSetup(function (bAccepted) { alert(bAccepted) });
                });

                document.getElementById("btn-setup").addEventListener("click", (e) => {
                    MeadCo.ScriptX.Print.UI.PrinterSettings(function (bAccepted) { alert(bAccepted) });
                });

            });

        });

    </script>

    </body>
</html>
