@page
@{
    ViewData["Title"] = "UI Library";
}


<h1>@ViewData["Title"]</h1>

@section Styles {
}

@section Scripts {
    <environment include="Development">
        <script src="/scripts/src/meadco-core.js" asp-append-version="true"></script>
        <script src="/scripts/src/meadco-scriptxprint.js" asp-append-version="true"></script>
        <script src="/scripts/src/meadco-scriptxprinthtml.js" asp-append-version="true"></script>
        <script src="/scripts/src/meadco-scriptxfactory.js" asp-append-version="true"></script>
        <script src="/scripts/src/jQuery-MeadCo.ScriptX.Print.UI.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script asp-append-version="true" src="/scripts/dist/meadco-scriptxservicesprintUI.min.js"></script>
    </environment>

}

<div class="modal fade" tabindex="-1" role="dialog" id="dlg-printoptions">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Page setup</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <fieldset>
                        <legend>Paper</legend>

                        <div class="form-group row">
                            <label for="fld-papersize" class="col-md-4 col-form-label text-right col-form-label-sm">Size</label>
                            <div class="col-md-8">
                                <select class="form-control col-form-label-sm custom-select custom-select-sm" id="fld-papersize">
                                    <option>An option</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-md-8 offset-md-4">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" value="2" id="fld-portrait" name="fld-orientation" />
                                    <label class="form-check-label" for="fld-portrait">Portrait</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" value="1" id="fld-landscape" name="fld-orientation" />
                                    <label class="form-check-label" for="fld-portrait">Landscape</label>
                                </div>

                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-md-8 offset-md-4">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" name="fld-shrinktofit" id="fld-shrinktofit">
                                    <label class="form-check-label" for="fld-shrinktofit">Shrink to fit</label>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-md-8 offset-md-4">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" name="fld-printbackground" id="fld-printbackground">
                                    <label class="form-check-label" for="fld-printbackground">Print background colour and images</label>
                                </div>
                            </div>
                        </div>
                    </fieldset>

                    <fieldset>
                        <legend>Margins</legend>

                        <div class="form-group row">
                            <div class="col-md-8 offset-md-4">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" value="2" id="fld-millimetres" name="fld-measure" />
                                    <label class="form-check-label" for="fld-millimetres">Millimetres</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" value="1" id="fld-inches" name="fld-measure" />
                                    <label class="form-check-label" for="fld-inches">Inches</label>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-md-4 col-form-label text-right col-form-label-sm">Left</label>
                            <div class="col-md-3">
                                <div class="input-group spinner" data-trigger="spinner">
                                    <input name="fld-marginL" id="fld-marginL" type="text" class="form-control text-right" data-rule="measure" value="1" />
                                    <div class="input-group-append input-group-addon">
                                        <a class="spin-up" href="javascript:;" data-spin="up">
                                            <i class="fas fa-caret-up"></i>
                                        </a>
                                        <a class="spin-down" href="javascript:;" data-spin="down">
                                            <i class="fas fa-caret-down"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <label class="col-md-2 col-form-label text-right col-form-label-sm">Top</label>
                            <div class="col-md-3">
                                <div class="input-group spinner" data-trigger="spinner">
                                    <input name="fld-marginT" id="fld-marginT" type="text" class="form-control text-right" data-rule="measure" value="1" />
                                    <span class="input-group-addon">
                                        <a class="spin-up" href="javascript:;" data-spin="up">
                                            <i class="fa fa-caret-up"></i>
                                        </a>
                                        <a class="spin-down" href="javascript:;" data-spin="down">
                                            <i class="fa fa-caret-down"></i>
                                        </a>
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-md-4 col-form-label text-right col-form-label-sm">Right</label>
                            <div class="col-md-3">
                                <div class="input-group spinner" data-trigger="spinner">
                                    <input name="fld-marginR" id="fld-marginR" type="text" class="form-control text-right" data-rule="measure" value="1" />
                                    <span class="input-group-addon">
                                        <a class="spin-up" href="javascript:;" data-spin="up">
                                            <i class="fa fa-caret-up"></i>
                                        </a>
                                        <a class="spin-down" href="javascript:;" data-spin="down">
                                            <i class="fa fa-caret-down"></i>
                                        </a>
                                    </span>
                                </div>
                            </div>
                            <label class="col-md-2 col-form-label text-right col-form-label-sm">Bottom</label>
                            <div class="col-md-3">
                                <div class="input-group spinner" data-trigger="spinner">
                                    <input name="fld-marginB" id="fld-marginB" type="text" class="form-control text-right" data-rule="measure" value="1" />
                                    <span class="input-group-addon">
                                        <a class="spin-up" href="javascript:;" data-spin="up">
                                            <i class="fa fa-caret-up"></i>
                                        </a>
                                        <a class="spin-down" href="javascript:;" data-spin="down">
                                            <i class="fa fa-caret-down"></i>
                                        </a>
                                    </span>
                                </div>
                            </div>
                        </div>

                    </fieldset>

                    <fieldset>
                        <legend>Headers and footers</legend>
                        <div class="form-group row">
                            <label for="fld-header" class="col-md-4 col-form-label text-right col-form-label-sm">Header</label>
                            <div class="col-md-8">
                                <input type="text" name="fld-header" id="fld-header" class="form-control form-control-sm" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="fld-footer" class="col-md-4 col-form-label text-right col-form-label-sm">Footer</label>
                            <div class="col-md-8">
                                <input type="text" name="fld-footer" id="fld-footer" class="form-control form-control-sm" />
                            </div>
                        </div>
                    </fieldset>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btn-saveoptions">OK</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

@section TestScripts {
    <script src="~/js/UnitTests/serverinfo.js" asp-append-version="true"></script>
    <script src="~/js/UnitTests/UILibrary.js" asp-append-version="true"></script>
    <script type="text/javascript">
        $(window).on("load", function () {
            console.log("Start view");

            var url = serverUrl;
            MeadCo.ScriptX.Print.HTML.connectAsync(url, licenseGuid, function (data) {
                factory.printing.header = "Test";

                $("#btn-print").click(function () {
                    MeadCo.ScriptX.Print.UI.PageSetup(function (bAccepted) { alert(bAccepted) });
                });

                $("#btn-setup").click(function () {
                    MeadCo.ScriptX.Print.UI.PrinterSettings(function (bAccepted) { alert(bAccepted) });

                });
            });
        });
    </script>
}

<div class="button-bar">
    <button id="btn-print" class="btn btn-dark">Page Setup</button>&nbsp;<button class="btn btn-dark" id="btn-setup">Printer settings</button>
</div>

<br />

