@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    ViewData["NoQunit"] = "true";
}

<div class="text-center">
    <h1 class="display-4">Choose a test</h1>

    <div class="list-group">
        <a asp-page="/Tests/QUnit" asp-area="" class="list-group-item list-group-item-action">Verify QUnit</a>
        <a asp-page="/Tests/Core" asp-area="" class="list-group-item list-group-item-action">Test MeadCo.Core</a>
        <a asp-page="/Tests/CoreNamespaces" asp-area="" class="list-group-item list-group-item-action">Test MeadCo.Core namespaces</a>
    </div>
</div>
