@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    ViewData["NoQunit"] = "true";
}

<div class="text-center">
    <h1 class="display-4">Choose a test</h1>

    <div class="list-group">
        <a asp-page="/Tests/Core" asp-area="" class="list-group-item list-group-item-action">MeadCo.Core</a>
        <a asp-page="/Tests/CoreNamespaces" asp-area="" class="list-group-item list-group-item-action">MeadCo.Core namespaces</a>
        <a asp-page="/Tests/Print" asp-area="" class="list-group-item list-group-item-action">MeadCo.ScriptX.Print</a>
        <a asp-page="/Tests/PrintHtml" asp-area="" class="list-group-item list-group-item-action">MeadCo.ScriptX.Print.HTML</a>
        <a asp-page="/Tests/Licensing" asp-area="" class="list-group-item list-group-item-action">MeadCo.ScriptX.Print.Licensing</a>
    </div>

    <p>&nbsp;</p>

    <div class="list-group">
        <a asp-page="/Tests/GetHtml" asp-area="" class="list-group-item list-group-item-action">Verify form data preservation</a>
        <a asp-page="/Tests/QUnit" asp-area="" class="list-group-item list-group-item-action">Verify QUnit</a>
    </div>
</div>
