@{
    Layout = "~/Views/Shared/_LayoutFramedContent.cshtml";
}

<h2>Internet Explorer Header and Footer Metasymbols</h2>
<table class="table table-striped center-block">
    <caption>
        To print specific information as part of the <strong>header </strong>or <strong>footer</strong>,
        include the following characters as part of the text
    </caption>
    <tr >
        <td nowrap="nowrap"><strong>Use this</strong></td>
        <td><strong>To print this</strong></td>
    </tr>
    <tr>
        <td>&amp;w&nbsp;&nbsp; </td>
        <td>Window title</td>
    </tr>
    <tr>
        <td>&amp;u&nbsp;&nbsp; </td>
        <td>Page address (URL)</td>
    </tr>
    <tr>
        <td>&amp;d&nbsp;&nbsp; </td>
        <td>Date in short format (as specified by Regional Settings in Control Panel)</td>
    </tr>
    <tr>
        <td>&amp;D&nbsp;&nbsp; </td>
        <td>Date in long format (as specified by Regional Settings in Control Panel)</td>
    </tr>
    <tr>
        <td>&amp;t&nbsp;&nbsp; </td>
        <td>Time in the format specified by Regional Settings in Control Panel</td>
    </tr>
    <tr>
        <td>&amp;T&nbsp;&nbsp; </td>
        <td>Time in 24-hour format</td>
    </tr>
    <tr>
        <td>&amp;p&nbsp;&nbsp; </td>
        <td>Current page number</td>
    </tr>
    <tr>
        <td>&amp;P&nbsp;&nbsp; </td>
        <td>Total number of pages</td>
    </tr>
    <tr>
        <td>&amp;&amp;&nbsp;&nbsp; </td>
        <td>A single ampersand (&amp;)</td>
    </tr>
    <tr>
        <td>&amp;b&nbsp;&nbsp; </td>
        <td>The text immediately following these characters as centered.</td>
    </tr>
    <tr>
        <td>&amp;b&amp;b&nbsp;&nbsp; </td>
        <td>
            The text immediately following the first &quot;&amp;b&quot; as centered,
            and the text following the second &quot;&amp;b&quot; as right-justified.
        </td>
    </tr>
</table>