@model ScriptX.Print.Client.Models.Sample

@{
    ViewBag.Title = Model.Title;

    var server = $"{Request.Url.Scheme}://{Request.Url.Authority}{Url.Content("~/api/v1/printHtml")}";
}

<h2>@ViewBag.Title</h2>

<div>
    <button id="btn-test" class="btn btn-primary">Test</button>
</div>

<div id="logPane"></div>

@section scripts
{
    <script src="@Url.Action("script", "Home", new {filename = "meadco-core.js"})"></script>
    <script src="@Url.Action("script", "Home", new {filename = "meadco-scriptxprint.js"})"></script>
    <script src="@Url.Action("script", "Home", new {filename = "meadco-scriptxprinthtml.js"})"></script>

    <script type="text/javascript">
        function pageLogger(txt) {
            $("#logPane").append(txt + "<br/>");
        }

        if (window.jQuery) {
            $(function() {
                try {
                    pageLogger("Opening page log.");

                    pageLogger("typeof MeadCo.extendMeadCoNamespace: " + (typeof MeadCo.extendMeadCoNamespace));
                    pageLogger("typeof MeadCo.createNS: " + (typeof MeadCo.createNS));

                    pageLogger("typeof extendMeadCoNamespace: " + (typeof extendMeadCoNamespace));
                    pageLogger("typeof XXextendNamespace: " + (typeof XXextendNamespace));

                    pageLogger("typeof printHtmlAtServer: " + (typeof printHtmlAtServer));
                    pageLogger("typeof MeadCo.ScriptX.Print.printHtml: " + (typeof MeadCo.ScriptX.Print.printHtml));


                } catch (e) {
                    pageLogger("*** ERROR *** " + e.message);
                }
            });
        } else {
            MeadCo.log("Page starting without jQuery");
        }
    </script>
}
