
@{

}

<h2>@ViewBag.Title</h2>

@section scripts
{

    <script src="@Url.Action("script","Home",new { filename= "meadco-scriptxfactory.js" })"></script>

    <script type="text/javascript">
        $(function() {
            var a = new Object();
            var b = new Object();
            var c = new Object();
            var d = new Object();

            console.log("Shim factory test starting");
            try {
                factory.GetComponentVersion("MeadCo.ScriptX", a, b, c, d);
                MeadCo.log("Version: " + a[0] + "." + b[0] + "." + c[0] + "." + d[0]);

                factory.printing.header = "This is the page header";
                MeadCo.log("header set to: " + factory.printing.header);

            } catch (e) {
                MeadCo.log("Error: " + e.message);
            }
        });
    </script>
}
