@model ScriptX.Print.Client.Models.Sample

@{
    ViewBag.Title = Model.Title;
}

<h2>@ViewBag.Title</h2>

@section scripts
{
    <script src="@Url.Action("script","Home",new { filename= "meadco-scriptxfactory.js" })"></script>
    <script src="~/Scripts/meadco-scriptx-1.1.3.js"></script>

    <script type="text/javascript">
        $(function() {
            console.log("Shim factory test starting 2");

            try {
                if (MeadCo.ScriptX.Init()) {
                    MeadCo.log("Installed version of ScriptX is: " + MeadCo.ScriptX.Version());
                    MeadCo.ScriptX.Printing.header = "This is a MeadCoJSShim Header";
                    MeadCo.log("Header was set to: " + MeadCo.ScriptX.Printing.header);
                } else {
                    MeadCo.log("Failed to init");
                }
            } catch (e) {
                MeadCo.log("Error: " + e.message);
            }
        });
    </script>
}
