<div class="row" style="margin-top: 32px; border-left: 1px solid silver">
    <div class="col-md-8">
        <h4>For nearly 20 years MeadCo ScriptX has been the world's favourite Internet Explorer add-on to provide web developers and their users with control over printed output.</h4>
    </div>
    <div class="col-md-2">&nbsp;</div>
</div>
<h1>ScriptX.Print.HTML Service - Client Library</h1>
